.env

# discord bot files
/discord_bot/.env
/discord_bot/.vscode
/discord_bot/build
/discord_bot/package-lock.json
/discord_bot/package.json
/discord_bot/tsconfig.json
/discord_bot/node_modules

# rust script files
/rust_script/first_rust/Cargo.lock
/rust_script/first_rust/Cargo.toml
/rust_script/first_rust/target